@charset "UTF-8";
@keyframes moonmove {
  0% {
    box-shadow: 15px -15px #ffd633;
    transform: translate(-15px, 15px);
  }
  100% {
    box-shadow: -30px 30px #ffd633;
    transform: translate(30px, -30px);
  }
}
@keyframes clouddrift {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes raindrop {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 50px);
    opacity: 0;
  }
}
@keyframes daylight {
  0% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 100% 100%;
  }
}
* {
  position: relative;
  font-family: "Hind Vadodara", sans-serif, 微軟正黑體;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

label {
  cursor: pointer;
}

.daybox {
  width: 150%;
  max-width: 400px;
  background-color: #f3f3f3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.daybox:hover .bottom {
  height: 100px;
}
.daybox:hover .bottom .day_weather {
  opacity: 1;
  top: 0px;
}
.daybox .top {
  height: 330px;
  background: linear-gradient(20deg, #19283d, #1d678f);
  background-size: 100% 300%;
  animation: daylight 20s both;
  border-radius: 5px 5px 0px 0px;
}
.daybox .top .moon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 15px -15px;
  position: absolute;
  left: 50px;
  top: 100px;
  animation: moonmove 20s infinite;
}
.daybox .top svg {
  width: 100%;
}
.daybox .top svg polyline {
  stroke: #f3f3f3;
  stroke-width: 2px;
  fill: none;
  opacity: 0.2;
}
.daybox .top svg circle {
  stroke: #f3f3f3;
  fill: #f3f3f3;
  opacity: 0.2;
}
.daybox .top svg text {
  font-size: 12px;
  transform: translate(-8px, 20px);
  stroke: #f3f3f3;
  stroke-width: 1px;
  opacity: 0;
}
.daybox .top .text_area {
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: #f3f3f3;
}
.daybox .top .text_area .temperature {
  font-size: 75px;
  line-height: 70px;
}
.daybox .top .text_area .infos {
  font-size: 13px;
  opacity: 0.5;
}
.daybox .bottom {
  height: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition-duration: 2s;
}
.daybox .bottom .day_weather {
  width: calc(14.2857142857% - 5px);
  display: inline-block;
  text-align: center;
  opacity: 0;
  top: 20px;
  transition: 0.5s;
}
.daybox .bottom .day_weather h3 {
  font-size: 12px;
  font-weight: 400;
  color: #222;
  letter-spacing: 1px;
}
.daybox .bottom .day_weather svg {
  width: 100%;
  max-width: 40px;
  height: 30px;
}
.daybox .bottom .day_weather svg .sun {
  fill: #ffd633;
  stroke: rgba(255, 214, 51, 0.5);
  stroke-width: 30px;
  stroke-dasharray: 5px;
}
.daybox .bottom .day_weather svg .cloud {
  fill: #ccc;
}
.daybox .bottom .day_weather:nth-child(1) {
  transition-delay: 0.2s;
}
.daybox .bottom .day_weather:nth-child(2) {
  transition-delay: 0.4s;
}
.daybox .bottom .day_weather:nth-child(3) {
  transition-delay: 0.6s;
}
.daybox .bottom .day_weather:nth-child(4) {
  transition-delay: 0.8s;
}
.daybox .bottom .day_weather:nth-child(5) {
  transition-delay: 1s;
}
.daybox .bottom .day_weather:nth-child(6) {
  transition-delay: 1.2s;
}
.daybox .bottom .day_weather:nth-child(7) {
  transition-delay: 1.4s;
}
.daybox .cloud {
  width: 100px;
  height: 36px;
  position: absolute;
  left: 200px;
  bottom: 50px;
  border-radius: 20px;
  animation: clouddrift 2s infinite;
  background-color: #f3f3f3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.daybox .cloud::before, .daybox .cloud::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  background-color: #f3f3f3;
}
.daybox .cloud::before {
  left: 16px;
  top: -28px;
}
.daybox .cloud::after {
  left: 35px;
  top: -20px;
}
.daybox .cloud .rain {
  width: 2px;
  height: 10px;
  position: absolute;
  left: 45px;
  bottom: 15px;
  animation: raindrop 1s infinite linear;
  background-color: #f3f3f3;
}
.daybox .cloud .rain2 {
  left: 70px;
  bottom: 20px;
  animation-delay: -0.4s;
}
.daybox .cloud .rain3 {
  left: 30px;
  bottom: 20px;
  animation-delay: -0.7s;
}

.moon,
.cloud {
  transition-duration: 0.5s;
}

svg circle,
svg polyline,
svg text {
  transition-duration: 0.5s;
}
svg polyline {
  transition-delay: 0.5s;
}
svg text {
  transition-delay: 1s;
}

#checked {
  display: none;
}

#checked:checked + .top .moon,
#checked:checked + .top .cloud {
  opacity: 0.5;
}
#checked:checked + .top svg circle,
#checked:checked + .top svg polyline,
#checked:checked + .top svg text {
  opacity: 1;
}/*# sourceMappingURL=index.css.map */